<h2>Kurser</h2>

<input type="text" placeholder="Sök kurs..." (input)="onInputChange($event)" />

<table>
  <thead>
    <tr>
        <th (click)="sortBy('code')" [class.active]="sortField === 'code'">
            Kurskod
            <span *ngIf="sortField === 'code'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
          </th>
          <th (click)="sortBy('coursename')" [class.active]="sortField === 'coursename'">
            Kursnamn
            <span *ngIf="sortField === 'coursename'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
          </th>
          <th (click)="sortBy('progression')" [class.active]="sortField === 'progression'">
            Progression
            <span *ngIf="sortField === 'progression'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
          </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of filteredCourses">
      <td>{{ course.code }}</td>
      <td>{{ course.coursename }}</td>
      <td>{{ course.progression }}</td>
    </tr>
  </tbody>
</table>

